<% layout("/layouts/boilerplate.ejs") -%>

<h3>All Listings</h3>
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
</form> -->
<div class="row row-cols-lg-3 m-2 row-cols-md-2 row-cols-1">

    <% for (let list of allListings) { %>
        <a href="/listings/<%= list._id %>" class="listing-link">
            <div class="card">
                <img src="<%= list.image %>" class="card-img-top" alt="listing_image" style="height: 20rem;" />
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <b><%= list.title
                         %></b>
                    </h5>
                        <p class="card-text">&#8377; <%= list.price %> /night</p>
                    
                </div>
            </div>
        </a>
    <% } %>
</div>
