<% layout("/layouts/boilerplate.ejs") -%>

    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
        <% for (list of allListings){%>
                <div class="card" style="width: 20rem;">
                    <img src="<%= list.image %>" class="card-img-top" alt="listing_image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= list.title%>
                        </h5>
                        <p class="card-text">
                            &#8377; <%= list.price.toLocaleString("en-IN") %> /night
                        </p>

                    </div>
                </div>
                <%}%>
    </div>