<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <div class="col-8 offset-2">
            <br><br>
        <h3>Create New Listing</h3>
        <form method="POST" action="/listings">
            <div class="mb-3"><label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Enter Catchy Title" type="text" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="listing[image]" placeholder="Enter Image URL" class="form-control">
            </div>

           <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="1200" type="Number" class="form-control" />
            </div>

            <div class="mb-3 col-8">
                <label for="image" class="form-label">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" />
            </div>
           </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Saurashtra,Gujarat" type="text" class="form-control" />
            </div>
            <button class="btn btn-dark btn-add">ADD</button>
            <br>
            <br>
        </form>
    </div>
    </body>